.main
{
	width: 200px;
}

.header
{
	background-color: #eeeeff;
	padding: 5px;
	text-align: center;
}

.header a
{
	color: #555555;
	text-decoration: none;
}

.pane
{
	border: 1px #ccccff solid;
	padding: 0 5px;
}
	
