body
{
   line-height: 1.231;
}

.main
{
	width: 200px;
}

.header
{
	background-color: #eeeeff;
	padding: 5px;
	text-align: center;
}

.header a
{
	color: #555555;
	text-decoration: none;
}

.pane
{
	border: 1px #ccccff solid;
	padding: 0 5px;
}
	
.loading
{
	background-image: url("ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	height: 1.231em;
	margin: 1em 0;
}
